* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: title-font;
}

@font-face {
  font-family: title-font;
  src: url(../fonts/Roboto-Medium.ttf);
}

:root {
  --main-dif: #231f20;
  --main-bc: ghostwhite;
  --main-test: rgba(0, 0, 255, 0.205);
}

body {
  background-color: rgba(128, 128, 128, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.active {
  outline: 7px solid var(--main-dif);
  transform: scale(1.1);
}

.null {
  display: none;
}

main {
  background-color: var(--main-bc);
  width: 65rem;
  height: 56rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2.3rem; */
  justify-content: space-around;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: var(--main-dif);
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}

.vehicle-container {
  width: 60rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /*  background-color: var(--main-test); */
}

.v-img {
  width: 100%;
  height: 80%;
  border-radius: 15px 15px 0 0;
}
.v-img img {
  height: 100%;
  object-fit: cover;
}

.v-text {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.row-1,
.row-2 {
  gap: 3rem;
  display: flex;
}

.row-1-style {
  background-color: var(--main-bc);
  width: 15rem;
  height: 10rem;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 100ms linear;
}

.row-2-style {
  background-color: var(--main-bc);
  width: 22rem;
  height: 12rem;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-1-style:hover,
.row-2-style:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*Select*/

select {
  width: 30rem;
  height: 4rem;
  background-color: var(--main-dif);
  color: var(--main-bc);
  font-size: 1.7rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

option {
  font-size: 1.3rem;
}

/*Button*/

.button-container {
  /* background-color: var(--main-test); */
  width: 100%;
  text-align: end;
}

.btn {
  width: 15rem;
  height: 4rem;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  border-radius: 15px;
  border: none;
  background-color: var(--main-dif);
  color: var(--main-bc);
  transition-duration: 800ms;
}

.btn:hover {
  color: var(--main-dif);
  background-color: var(--main-bc);
  outline: 3px solid var(--main-dif);
  cursor: pointer;
}

/*-------------------------question-----------------------------*/
#popup-area {
  position: absolute;
  background-color: blue;
  padding: 2rem;
}

#popup {
  width: 40rem;
  height: 20rem;
  padding: 0.3rem 0 2rem 0;
  background-color: var(--main-bc);
  outline: 7px solid var(--main-dif);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}

/* .question {
  width: 40rem;
  height: 20rem;
  padding: 0.3rem 0 2rem 0;
  background-color: var(--main-bc);
  outline: 7px solid var(--main-dif);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
} */

.question h3 {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  width: 100%;
}

.trailer-img {
  width: 290px;
}

.close-area {
  width: 100%;
  padding-right: 0.3rem;
  text-align: end;
}

.close-area img {
  width: 2rem;
  cursor: pointer;
}

.check-console {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.question-button {
  width: 6rem;
  height: 2rem;
  background-color: var(--main-dif);
  color: var(--main-bc);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.question-button:hover {
  color: var(--main-dif);
  background-color: var(--main-bc);
  outline: 3px solid var(--main-dif);
  cursor: pointer;
}
